@import url("./normalise.css");
@import url("./breakpoints.css");
@import url("./colors.css");
@import url("./spacing.css");
@import url("./typography.css");
@import url("./globals.css");
@import url("./common.css");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
  flex: 1; /* This pushes the footer down when content is short */
}
